.sampleData {
  font-size: 13px;
  color: rgb(185, 185, 185);
  cursor: pointer;
}

.form {
  width: 340px;
  margin: 10px;
  margin-top: 36px;
  text-align: center;
  font-size: 19px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.label {
  text-align: left;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.button {
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  width: 100px;
  color: white;
  background: gray;
  font-size: 15px;
  font-weight: 600;
  height: 37px;
}

.button:hover {
  color: black;
  background: white;
  font-weight: 600;
}

.error {
  font-size: 14px;
  color: orangered;
}

.title {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  font-family: "Cinzel Decorative", serif;
  font-style: normal;
}

.title::first-letter {
  font-size: 100px;
}
